
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Space out content a bit */
html {
    height:100%;
    overflow-x: hidden;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: url('../images/bg_1.png') repeat;
    position: relative;
    height:100%;
    overflow-x: hidden;
    font-family: "Oregano"
}


.glyphicon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.glyphicon-refresh {
    &:hover {
        color: #F46767;
    }
}

.glyphicon-arrow-left {
    &:hover {
        color: #4C859F;
        text-decoration: none;
    }
}

.btn-group-lg > .btn, .btn-lg {
    max-width: 300px;
    width: 100%;
}

.jumbotron {
    text-align: center;
    padding-top: 78px;
    background-color: transparent;
}

// Animations

.visible-fade {
  display: block;
  opacity: 1;
  transition: opacity .5s linear;
}

.hide-fade {
  display: none;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    .jumbotron {
        border-bottom: 0;
    }
}

/* Responsive: Mobile */
@media screen and (max-width: 768px) {

    .btn {
        width: 80%;
    }
}

/* Responsive: Mobile */
@media screen and (max-width: 360px) {

}

/* Responsive: Mobile */
@media screen and (max-width: 300px) {

}
