
/* ------- Game Details Layout ------- */

.curr-player {
    cursor: default !important;
}

.game-overview {
        background: transparent url("../images/bg_4.png") repeat scroll 0 0;
        border-radius: 5px;
        box-shadow: 0 0 2px #000;
        position: relative;
        padding: 10px;
}


.game-overview-content {
        background: rgba(0, 0, 0, 0) url("../images/bg_3.png") repeat scroll 0 0;
        border-radius: 5px;
        z-index: 5;
        padding: 10px 0;
}

.chips-remaining {
    padding: 10px;
    background: #eee;
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.player-display {
    border-radius: 5px;
    font-family: "Oregano";
    margin: 0;
    padding: 5px;
    font-size: 18px;
    text-align:center;
    color: #fff;

    &.right {
        text-align: right;
    }

    &.left {
        text-align: left;
    }

}

.player-row {
    margin:20px auto;
}

.player-pic {
    background: #000 none repeat scroll 0 0;
    border-radius: 50px;
    height: 100px;
    position: absolute;
    top: -10px;
    width: 100px;
    background: transparent url("../images/bg_4.png") repeat scroll 0 0;
    box-shadow: 0 0 2px #000;

    &.active {
        background: #4d5871;
    }

    .player-pic-img {
            background: #000 none repeat scroll 0 0;
            border-radius: 50px;
            height: 80px;
            position: absolute;
            top: 10px;
            left: 10px;
            width: 80px;
            background: transparent url("../images/bg_3.png") repeat scroll 0 0;
            box-shadow: 0 0 2px #000;
    }

    .player-pic-img-1 {
        background: transparent url("../images/character_1.png") repeat scroll center center;
    }
    .player-pic-img-2 {
        background: transparent url("../images/character_2.png") repeat scroll center center;
    }
    .player-pic-img-3 {
        background: transparent url("../images/character_3.png") repeat scroll center center;
    }
    .player-pic-img-4 {
        background: transparent url("../images/character_4.png") repeat scroll center center;
    }
    .player-pic-img-pepe {
        background: transparent url("../images/character_pepe.png") repeat scroll center center;
    }
}

.player-pic-left {
    left: -20px;
}

.player-pic-right {
    right: -20px;
}

.player-talk-bubble {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #605a5a;
    padding: 5px 10px;
    position: absolute;
    top: 90px;
    width: 200px;
    z-index: 10;
    font-size: 12px;

    visibility: none;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;

    &.active {
          visibility: block;
          opacity: 1;
          transition: opacity 1s linear;
    }

    &.right {
        left: -130px;
    }

    &.left {
        right: -130px;
    }
}



.chip-peg {
    background: #676262 none repeat scroll 0 0;
    border: 1px inset #302e2e;
    border-radius: 5px;
    float: left;
    height: 25px;
    margin: 4px;
    width: 10px;

    &.active {
        background: #fff none repeat scroll 0 0;
        background: -moz-linear-gradient(left, #959595 0%, #ffffff 25%, #ffffff 75%, #959595 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #959595 0%,#ffffff 25%,#ffffff 75%,#959595 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #959595 0%,#ffffff 25%,#ffffff 75%,#959595 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
        box-shadow: 0 0 2px #000;
    }

}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid white;
    position: absolute;
    top: -7px;

    .player-talk-bubble.right & {
        right: 10px;
    }
    .player-talk-bubble.left & {
        left: 10px;
    }
}
/* ------- Game Screens Layout ------- */

.comp-turn {
    width: 40%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7); /*dim the background*/
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  
  >div {
    margin: 25px 0;
    color: #fff !important;

    h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
  }

  .btn {
    margin-bottom:10px !important;
  }

  .progress {
    margin: 0 auto !important;
    width: 30%;
  }

  .glyphicon-refresh {
    font-size: 19px;
  }

  .row h3{
    margin-top:10%;
  }  
}



/* ------- Game Board Layout ------- */

.game-row {
    height: 65px;
}

p.chip-display{
    margin:0 !important;
}

.r1 .game-box {
    left: 39.5%;
    margin-left:-28px !important;
    padding: 0 15px;
}
.r2 .game-box {
    left: 32%;
    margin-left:-30px !important;
    margin-right: 16% !important;
    padding: 0 15px;
}
.r3 .game-box {
    left: 16%;
    margin-left:-30px !important;
    margin-right: 16% !important;
    padding: 0 15px;
}
.r4 .game-box {
    margin-left:-30px !important;
    margin-right: 16% !important;
    padding: 0 15px;
}

.row {
    margin-left:0 !important;
    margin-right:0 !important;
}

.row .col-md-1 {
    width: 0 !important;
}

.remove-chip {
    background: none repeat scroll 0 0 #FF0000;
}

.droppable {
    height: 275px;
    border: 2px dashed #fff;

    &.pep-dpa {
        background: #F46767;
    }
}

.game-board {
    padding-top: 10px;
}


.chip {
    width: 64px;
    height: 64px;   
    background: url('../images/penny.png') no-repeat center center;
    margin: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 30px;
    padding:0 50%;
    cursor: all-scroll;
    cursor: -moz-grab;

    
    &:active {
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }

    &.droppable {
        background-color: #ff0000;
    }

    &.explode {
        background: url('../images/boom.png') no-repeat center center;
    }
}

.chip-display {
    color: #FFFFFF;
    font-family: "Architects Daughter";
    font-size: 24px;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .game-row > div {
        margin: 0 5px;
    }
}

/* Responsive: Mobile */
@media screen and (max-width: 768px) {
    .game-overview {
        margin-top: 20px;
        button {
            margin-top: 0;
        }
    }

    .game-overview-content {
            min-height: 45px;
    }

    .player-display {
        margin: 0 0 10px;
    }

    .chip-display {
        font-size: 22px !important;
    }
    .game-row{
        height: 40px;
    }

    .game-row > div {
        margin: 0 -2px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    .chip {
        width: 35px;
        height: 35px;   
    }

    .droppable {
        height: 170px;
    }

    .game-over {
      >div {
        margin: 10px 0;
      }

      .btn-success {
        padding: 10px;
        width: 80%;
      }
    }

}

/* Responsive: Mobile */
@media screen and (max-width: 360px) {

    .chip-display {
        font-size: 18px !important;
    }

    p.player-display {
        font-size:12px;
    }

    .chip {
        width: 30px;
        height: 30px;
    }



}

/* Responsive: Mobile */
@media screen and (max-width: 300px) {

    .chip {
        width: 25px;
        height: 25px;
    }

}
