.menu-action {
    text-align: center;
}

.game-title {
    h2 {
     font-family: "Oregano";
     margin-bottom: 40px;
     font-size: 60px;
     span {
        color: #000;
     }
    }
}

.menu-options {
    >div {
        margin: 20px 0;
    }
}
