$icon-font-path: "http://ddwenterprises.com/pyramid/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Space out content a bit */
html {
    height:100%;
}

body {
    padding-top: 5px;
    padding-bottom: 20px;
    background: #E0CCA9;
    position: relative;
    height:100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/* Custom page header */

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    position: relative;
    background: transparent;
    padding: 0 !important;
    margin: 0 !important;

}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.center {
    text-align: center;
    margin: 0 auto;
}

/* Game Layout */
.glyphicon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.glyphicon-refresh {
    &:hover {
        color: #F46767;
    }
}

.game-over {
    .glyphicon-refresh {
        font-size: 19px;
    }
}

.game-over .row h3{
    margin-top:10%;
}

.comp-turn {
    width: 40%;
}

.glyphicon-arrow-left {
    &:hover {
        color: #4C859F;
        text-decoration: none;
    }
}

.chips-remaining {
    padding: 10px;
    background: #eee;
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}


.curr-player {
    cursor: default !important;
}

.chip {
    width: 50px;
    height: 50px;   
    background-color: #5F5D5D;
    margin: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 30px;
    padding:0 50%;

    &:hover {
        background-color: #4C859F;
        box-shadow: 1px 1px 1px #767676;
    }

    &.active {
        background-color: #4C859F;
    }

    &.active-chip {
        background-color: #4C859F;
        box-shadow: 1px 1px 1px #767676
    }

    &.droppable {
        background-color: #ff0000;
    }
}

.game-row {
    height: 60px;
}

.r1 .game-box {
    left: 39.5%;
    margin-left:-28px !important;
    padding: 0 15px;
}
.r2 .game-box {
    left: 32%;
    margin-left:-30px !important;
    margin-right: 16% !important;
    padding: 0 15px;
}
.r3 .game-box {
    left: 16%;
    margin-left:-30px !important;
    margin-right: 16% !important;
    padding: 0 15px;
}
.r4 .game-box {
    margin-left:-30px !important;
    margin-right: 16% !important;
    padding: 0 15px;
}

.row {
    margin-left:0 !important;
    margin-right:0 !important;
}

.row .col-md-1 {
    width: 0 !important;
}

.remove-chip {
    background: none repeat scroll 0 0 #FF0000;
}

.droppable {
    height: 240px;
    border: 2px dashed #fff;

    &.pep-dpa {
        background: #F46767;
    }
}

.game-board {
    padding-top: 10px;
}

.player-display {
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: "Rock Salt";
    margin: 10px 0 20px;
    padding: 10px;
    text-align:center;

    &.active {
        background: none repeat scroll 0 0 #4C859F;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
    }
}

.chip-display {
    color: #FFFFFF;
    font-family: "Architects Daughter";
    font-size: 35px;
}

p.chip-display{
    margin:0 !important;
}

.player-row {
    margin:0 auto;
}

.pull-center {
    text-align: center;
}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7); /*dim the background*/
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  
  >div {
    margin: 25px 0;
    color: #fff !important;

    h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
  }

  .btn {
    margin-bottom:10px !important;
  }

  .progress {
    margin: 0 auto !important;
    width: 30%;
  }
}

/* Main Menu */
.menu-action {
    text-align: center;
}

.game-title {
    h2 {
     font-family: "Oregano";
     margin-bottom: 40px;
     font-size: 60px;
     span {
        color: #000;
     }
    }


}

.btn-group-lg > .btn, .btn-lg {
    max-width: 300px;
    width: 100%;
}

.menu-options {
    >div {
        margin: 20px 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    
    .game-row > div {
        margin: 0 5px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Responsive: Mobile */
@media screen and (max-width: 768px) {

    .player-display {
        margin: 0 0 10px;;
    }

    .chip-display {
        font-size: 22px !important;
    }
    .game-row{
        height: 40px;
    }

    .game-row > div {
        margin: 0 -2px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    .chip {
        width: 35px;
        height: 35px;   
    }

    .droppable {
        height: 170px;
    }

    .game-over {
      >div {
        margin: 10px 0;
      }

      .btn-success {
        padding: 10px;
        width: 80%;
      }
    }

    .btn {
        width: 80%;
    }

}

/* Responsive: Mobile */
@media screen and (max-width: 360px) {

    .chip-display {
        font-size: 18px !important;
    }

    p.player-display {
        font-size:12px;
    }

    .chip {
        width: 30px;
        height: 30px;
    }

}

/* Responsive: Mobile */
@media screen and (max-width: 300px) {

    .chip {
        width: 25px;
        height: 25px;
    }

}