$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

/* Bootstrap Modules */
@import 'sass-bootstrap/lib/bootstrap';


/* SASS Modules */
@import 'base';
@import 'helper';
@import 'menu';
@import 'board';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

   
