
<div class="col-xs-12 col-sm-6">
	<div class="main-logo">
		<img src="images/main-logo.png" alt="Pepe's Pyramid" class="animated ng-class: {'bounceInLeft' : animate.menu, 'bounceOutLeft' : !animate.menu}">
	</div>

	asdfasd
</div>


<div class="col-xs-12 col-sm-6 animated ng-class: {'bounceInRight' : animate.menu, 'bounceOutRight' : !animate.menu}">
	<div class="col-sm-5 game-overview menu-box">
		<div class="game-overview-content menu-option clearfix hidden-xs"  >
			<div class="menu-player-pic left">
				<div class="player-pic-img player-pic-img-1 "></div>
			</div>
			<div class="menu-versus">vs</div>
			<div class="menu-player-pic right">
				<div class="player-pic-img player-pic-img-2 "></div>
			</div>
		</div>
		<div class="play-game">
			<button class="btn btn-success btn-play" ng-click="startGame(false)">Quick Match</button>
		</div>
	</div>

	<div class="col-sm-2"></div>

	<div class="col-sm-5 game-overview  menu-box" >
		<div class="game-overview-content menu-option clearfix hidden-xs" >
			<div class="menu-player-pic left">
				<div class="player-pic-img player-pic-img-1 "></div>
			</div>
			<div class="menu-versus">vs</div>
			<div class="menu-player-pic right">
				<div class="player-pic-img player-pic-img-pepe "></div>
			</div>
		</div>		
		<div class="play-game">
			<button class="btn btn-danger btn-play" ng-click="startGame(true)">Campaign Mode</button>
		</div>
	</div>
</div>