<div class="jumbotron game-title">
  <h2 ng-click="">Pepe's <span>Pyramid</span></h2>
</div>

<div class="row menu-options clearfix pull-center">
  <div class="row">
<button ng-click="startGame(false)" class="btn btn-success btn-lg btn-start-game">2 Player</button></div>
  <div class="row">
<button ng-click="startGame(true)" class="btn btn-danger btn-lg btn-start-game">Play Pepe</button></div>
<!-- <div pep2 class="chip"></div>
<div pep2 class="chip"></div>
<div pep2 class="chip"></div>
<div pep2 class="chip"></div> -->
</div>